body {
  font-family: "Gill Sans", "Impact", "Trebuchet MS", Sans-serif;
  color: #b0b0b0;
  font-size: 250%;
}

h1 {
  text-align: center;
  margin-top: 20%;
  margin-botton: 0%;
  padding: 0px;
}

ul {
  text-align: center;
  margin: 0px;
  margin-top: -1em;
  padding: 0px;
}

li {
  font-style: italic;
  display: inline;
  padding: 0.2em;
}

ul.links li:first-child {
  content: '';
}

a {
  text-decoration: none;
  color: inherit;
}