body {
  font-family: "Hoefler Text", Georgia, "Times New Roman", Times, Serif;
  margin-left:  auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  text-align: center;
  margin-bottom: 0em;
}

h2 {
  font-style: italic;
}

h3 {
  color: #606060;
  margin-bottom: 0em;
}

p {
  line-height: 140%;
}

.contact {
  text-align: center;
}

span.date {
  color: #aaa;
  float: right;
}

a {
  text-decoration: none;
  color: #606060;
}

a:hover {
  color: #aaa;
}

.summary {
  text-align: center;
  margin: 0.25em 0 0.25em 0;
  border-top:    1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0em 0em 0em 0em;
}

.summary li {
  padding: 0.25em;
  list-style-type: none;
}

ul.madskillz {
  padding: 0;
}

.madskillz li {
  list-style-type: "circle";
  display: inline;
}